<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEGALMAG</title>

	<link rel="stylesheet" href="design/css/style.css">
	<!--[if IE 7]><link rel="stylesheet" href="design/css/style_ie7.css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="design/css/style_ie8.css" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" href="design/css/style_ie9.css" /><![endif]-->
	<link rel="stylesheet" href="design/css/jquery-ui-1.8.20.custom.css">
	<link rel="stylesheet" href="design/css/jquery.ui.selectmenu.css">
	<link rel="stylesheet" href="design/css/jquery.fancybox.css">

	<script src="design/js/jquery-1.7.2.min.js"></script>
	<!--[if lt IE 9]><script src="design/js/html5.js"></script><![endif]-->
	<script src="design/js/custom.js"></script>

<style>
		body { width: 90px; margin: 50px auto; }
</style>

</head>

</head>
<body>

	<a class="modal" href="#maket611">[mакет 6-1-1]</a>
	<a class="modal" href="#maket81">[mакет 8-1]</a>
	<a class="modal" href="#maket82">[mакет 8-2]</a>
	<a class="modal" href="#maket83">[mакет 8-3]</a>
	<a class="modal" href="#maket163">[mакет 16-3]</a>
	<a class="modal" href="#maket164">[mакет 16-4]</a>
	<a class="modal" href="#maket1641">[mакет 16-4-1]</a>
	<a class="modal" href="#maket165">[mакет 16-5]</a>
	<a class="modal" href="#maket166">[mакет 16-6]</a>
	<a class="modal" href="#maket167">[mакет 16-7]</a>
	<a class="modal" href="#maket1672">[mакет 16-7-2]</a>

	<div id="maket611" class="popup" style="display:none;">
		<div class="head">
			<span>Вы собираетесь закрыть вопрос</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<form>
				Вам необходимо будет указать специалистов, которым будет перечислено вознаграждение.
				<p>Чей ответ помог вам решить проблему?</p>
				<ul>
					<li>
						<input type="checkbox" name="check__01" value="check__01">
						<a href="">Иванова Снежанна Нургалиевна</a>
						<img src="design/images/stars.png" alt="">
					</li>
					<li>
						<input type="checkbox" name="check__01" value="check__01">
						<a href="">Иванова Снежанна Нургалиевна</a>
						<img src="design/images/stars.png" alt="">
					</li>
					<li>
						<input type="checkbox" name="check__01" value="check__01">
						<a href="">Иванова Снежанна Нургалиевна</a>
						<img src="design/images/stars.png" alt="">
					</li>
				</ul>
				<div class="buttonHolder3">
					<input type="submit" class="buttonConfirm" value="Подтвердить">
					<input type="submit" class="buttonCancel" value="Отменить">
				</div>
			</form>
		</div>
	</div>

	<div id="maket81" class="popup" style="display:none;">
		<div class="head">
			<span>Отправить сообщение</span>
		</div>
		<div class="body">
			<form>
				<div class="form">
				          <dl>
					         <dt><label for="form81-email">Ваш E-mail:</label></dt>
					         <dd><input type="email" name="form81-email" id="form81-email" multiple autofocus></dd>
					         <dt><label for="form81-phone">Ваш телефон:</label></dt>
					         <dd><input type="tel" name="form81-phone" id="form81-phone"></dd>
					         <dt><label for="form81-name">Представьтесь:</label></dt>
					         <dd><input type="text" name="form81-name" id="form81-name"></dd>
					         <dt><label for="form81-message">Опишите вашу ситуацию:</label></dt>
					         <dd><textarea name="form81-message" id="form81-message"></textarea></dd>
				        </dl>

				</div>
				<div class="buttonHolder4">
					<input type="submit" class="buttonSendMessage" value="Отправить сообщение">
					<input type="file" id="file"><label for="file">Присоединить файл</label>
				</div>
			</form>
		</div>
	</div>

	<div id="maket82" class="popup" style="display:none;">
		<div class="head">
			<span>Отправить сообщение</span>
		</div>
		<div class="body">
			<form>
				<div class="form">
				          <dl>
					         <dt><label for="form82-theme">Тема сообщения:</label></dt>
					         <dd><input type="text" name="form82-theme" id="form82-theme" autofocus></dd>
					         <dt><label for="form82-message">Опишите вашу ситуацию:</label></dt>
					         <dd><textarea name="form82-message" id="form82-message"></textarea></dd>
				        </dl>

				</div>
				<div class="buttonHolder4">
					<input type="submit" class="buttonSendMessage" value="Отправить сообщение">
					<input type="file" id="file"><span onclick="document.getElementById('file').click();">Присоединить файл</span>
				</div>
			</form>
		</div>
	</div>

	<div id="maket83" class="popup2" style="display:none;">
		<div class="head">
			<span>Спасибо за Ваше сообщение!</span>
			<p>Ваше сообщение отправленно Ивановой Снежанне.</p>
		</div>
		<div class="body">
			<span>Вы можете задать свой вопрос всем юристам Legalmag.</span>
			<p><a href="">Нажмите здесь</a>, если хотите задать вопрос юристам.</p>
		</div>
	</div>

	<div id="maket163" class="popup" style="display:none;">
		<div class="head">
			<span>Вход в систему</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<form>
				<div class="form">
				          <dl>
					         <dt><label for="form161-email">Электронная почта:</label></dt>
					         <dd><input type="email" name="form161-email" id="form161-email" autofocus></dd>
					         <dt><label for="form161-password">Пароль:</label></dt>
					         <dd><input type="password" name="form161-password" id="form161-password"></dd>
					         <dt></dt>
					         <dd><input type="checkbox" name="form161-rememberme" id="form161-rememberme"><label for="form161-rememberme">Запомнить меня</label></dd>
				        </dl>
				 <div class="form-error">Вы ввели неверный пароль или адрес электронной почты</div>
				</div>
				<div class="buttonHolder4">
					<input type="submit" class="buttonSendMessage" value="Войти в систему">
					<a href="">Зарегистрироваться в системе</a>
					<a href="">Забыли пароль</a>
					<div class="clear">&nbsp;</div>
				</div>
			</form>
		</div>
	</div>

	<div id="maket164" class="popup" style="display:none;">
		<div class="head">
			<span>Восстановление пароля</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<form>
				<div class="form">
					<p>Укажите адрес электронной почты, с которым вы регистрировались. Мы вышлем вам письмо с инструкцией</p>
				           <dl>
					         <dt><label for="form164-email">Электронная почта:</label></dt>
					         <dd><input type="email" name="form164-email" id="form164-email" autofocus></dd>
				          </dl>
				<div class="form-error">Пользователь с таким адресом не найден</div>
				</div>
				<div class="buttonHolder3">
					<input type="submit" class="buttonSendMessage" value="Отправить">
					<a class="simpleLink" href="">Войти под своим именем</a>
				</div>
			</form>
		</div>
	</div>

	<div id="maket1641" class="popup" style="display:none;">
		<div class="head">
			<span>Восстановление пароля</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<span>На ваш E-mail было выслено письмо с указанием по смене пароля. Если письмо не приходит в течении 10 минут, проверьте папку Спам или повторите процедуру восстановления пароля. </span>
		</div>
	</div>

	<div id="maket165" class="popup" style="display:none;">
		<div class="head">
			<span>Спасибо!</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<span>Благодарим вас за регистрацию на Legalmag!</span><br><br>
			<span>На указанныйвами адрес электронной почты выслано письмо со ссылкой на активацию вашего аккаунта. Проверьте вашу электронную почту.</span><br><br>
			<span>После прохождения активации рекомендуем вам заполнить информацию в вашем личном кабинете. Спасибо за то что выбрали нас.</span>
			<p>Legalmag.</p>
		</div>
	</div>

	<div id="maket166" class="popup" style="display:none;">
		<div class="head">
			<span>Активация пользователя</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<p>Ваша учетная запись успешно активирована!</p>
			<span>Для продолжения работы перейдите по <a href="">ссылке</a>.</span>
		</div>
	</div>

	<div id="maket167" class="popup" style="display:none;">
		<div class="head">
			<span>Обратная связь</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<form>
				<div class="form">
				          <dl>
					         <dt><label for="form167-name">Ваше имя:</label></dt>
					         <dd><input type="text" name="form167-name" id="form167-name" autofocus></dd>
					         <dt><label for="form167-password">Пароль:</label></dt>
					         <dd><input type="password" name="form167-password" id="form167-password"></dd>
					         <dt><label for="form167-message">Сообщение:</label></dt>
					         <dd><textarea name="form167-message" id="form167-message"></textarea></dd>
					         <dt><label for="form167-url">Скопируйте сюда адрес страницы:</label></dt>
					         <dd><input type="url" name="form167-url" id="form167-url" placeholder="http://legalmag.ru/"></dd>
				        </dl>

				</div>
				<div class="buttonHolder4">
					<input type="submit" class="buttonSendMessage" value="Отправить">
				</div>
			</form>
		</div>
	</div>

	<div id="maket1672" class="popup" style="display:none;">
		<div class="head">
			<span>Обратная связь</span>
			<img src="design/img/logoSmall.png" alt="LEGALMAG">
		</div>
		<div class="body">
			<p>Спасибо за ваше предложение!</p>
			<span>Мы его обязательно рассмотрим.</span><br>
			<span>C уважением, команда Legalmag.</span>
		</div>
		<div class="buttonHolder5">
			<input type="submit" class="buttonBackSite" value="Вернуться на сайт">
		</div>
	</div>

</body>
</html>